<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Game Store</span>
        <span class="example-spacer"></span>
        <button mat-button>News</button> 
        <button mat-button>Support</button> 
        <button mat-button>Contact Us</button> 
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search More Games Here">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <span class="right-spacer"></span>
        <button mat-button>Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>