<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="footer">© 2018 Copyright: 
        <a class="hrf" href="https://mindtree.com"> Mindtree.com </a></span>   
  </mat-toolbar-row>
</mat-toolbar>