<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Game Store</span>

    <span class="example-spacer"></span>
    <button mat-button>Home</button>
    <button mat-button>Services</button>
    <span class="right-spacer"></span>
    <!-- <button mat-button>Login/SignUp</button>
   -->

    <button mat-button data-toggle="modal" data-target="#iModal">Login</button>
    <button mat-button data-toggle="modal" data-target="#myModal">SignUp</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<div id="iModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form>
        <input type="text" name="email" placeholder="Email" #email>
        <input type="password" name="pass" placeholder="Password" #pass>
        <input type="submit" name="login" class="login loginmodal-submit" data-dismiss="modal" value="Login" (click)="check(email.value,pass.value)">
      </form>

    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="container">
      <div class="jumbotron">
        <form novalidate [formGroup]="form">
          <div class="form-group">
            <label for="fname">
      First Name:
    </label>
            <input type="text" name="" class="form-control" formControlName="fname" required placeholder="Enter Only Alphabets of max length 10">
          </div>
          <div *ngIf="form.get('fname').touched && form.get('fname').invalid" class="alert alert-danger">
            <div *ngIf="form.get('fname').hasError('required')">
              First Name is Required
            </div>
            <div *ngIf="form.get('fname').hasError('pattern')">
              Invalid First Name
            </div>
            <div *ngIf="form.get('fname').hasError('minlength')">
              Less than 3 Alphabets
            </div>
            <div *ngIf="form.get('fname').hasError('maxlength')">
              More than 10 Alphabets
            </div>


          </div>

          <div class="form-group">
            <label for="fname">
            Company Account:
         </label>
            <input type="text" name="" class="form-control" formControlName="lname" placeholder="Enter Only Alphabets of max length 10">
          </div>
          <div *ngIf="form.get('lname').touched && form.get('lname').invalid" class="alert alert-danger">
            <div *ngIf="form.get('lname').hasError('required')">
              Company Name is Required
            </div>
            <div *ngIf="form.get('lname').hasError('minlength')">
              Less than 3 Alphabets
            </div>
            <div *ngIf="form.get('lname').hasError('maxlength')">
              More than 10 Alphabets
            </div>
            <div *ngIf="form.get('lname').hasError('pattern')">
              Invalid Company Name
            </div>

          </div>


          <div class="form-group">
            <label for="email">
          Email:
        </label>
            <input type="email" name="" class="form-control" formControlName="email" placeholder="Enter your email id">
          </div>
          <div *ngIf="form.get('email').touched && form.get('email').invalid" class="alert alert-danger">
            <div *ngIf="form.get('email').hasError('required')">
              Mail is Required
            </div>
            <div *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
              Mail is Invalid
            </div>
            <div *ngIf="form.get('email').hasError('pattern')">
              Invalid Email Id
            </div>
          </div>

          <div class="form-group">
            <label for="contact">
          Contact:
        </label>
            <input type="text" name="" class="form-control" formControlName="contact" placeholder="Enter your Contact No of length 10">
          </div>

          <div *ngIf="form.get('contact').touched && form.get('contact').invalid" class="alert alert-danger">
            <div *ngIf="form.get('contact').hasError('required')">
              Contact is Required
            </div>
            <div *ngIf="form.get('contact').hasError('minlength')">
              Less than 10 digits
            </div>
            <div *ngIf="form.get('contact').hasError('maxlength')">
              More than 10 digits
            </div>
            <div *ngIf="form.get('contact').hasError('pattern')">
              Contact No Should Begin With Only 7 or 8 or 9
            </div>
          </div>

          <div class="form-group">
            <label for="password">
          Password:
        </label>
            <input type="password" name="" class="form-control" formControlName="password" placeholder="Length Should be only 7 Characters">
          </div>
          <div *ngIf="form.get('password').touched && form.get('password').invalid" class="alert alert-danger">
            <div *ngIf="form.get('password').hasError('required')">
              Password is Required
            </div>
            <div *ngIf="form.get('password').hasError('minlength')">
              Less than 7 Characters
            </div>
            <div *ngIf="form.get('password').hasError('maxlength')">
              More than 10 Characters
            </div>


          </div>

          <div class="form-group">
            <label for="cpassword">
          Confirm Password:
        </label>
            <input type="password" name="" class="form-control" formControlName="cpassword" placeholder="Length Should be only 7 Characters">
          </div>
          <div *ngIf="form.get('cpassword').touched && form.get('cpassword').invalid" class="alert alert-danger">
            <div *ngIf="form.get('cpassword').hasError('required')">
              Confirm Password is Required
            </div>
            <div *ngIf="form.get('password').hasError('minlength')">
              Less than 7 Characters
            </div>
            <div *ngIf="form.get('password').hasError('maxlength')">
              More than 10 Characters
            </div>


          </div>

          <div class="db">
            <button type="submit" data-dismiss="modal" name="button" [disabled]="form.invalid" class="btn btn-success" (click)="addUser(form)">Submit</button>
          
          </div>

        </form>
      </div>
    </div>