<div class="container">
  <div class="well well-sm">
    <strong>Some popular Games</strong>
    <!-- <div class="btn-group">
      <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
    </div> -->

  </div>
  <div id="products" class="row list-group">
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../../assets/black-panther-marvel-contest-of-champions-2e.jpg" alt="" />
        <div class="caption">
          <u>
            <h4 class="group inner list-group-item-heading">
              Black Panther</h4>
          </u>
          <p class="group inner list-group-item-text">
            You play a cybernetic black panther cat who has to save the Earth by clawing.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                Rs 1000</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../../assets/assassins.jpg" alt="" />
        <div class="caption">
          <u>
            <h4 class="group inner list-group-item-heading">
              Watch Dogs</h4>
          </u>
          <p class="group inner list-group-item-text">
            Watch Dogs is an action-adventure game, played from a third-person perspective.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                Rs 1500</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../../assets/833257.jpg" alt="" />
        <div class="caption">
          <u>
            <h4 class="group inner list-group-item-heading">
              Dead Cells</h4>
          </u>
          <p class="group inner list-group-item-text">
            Dead Cells is an upcoming roguelike-Metroidvania hybrid video game being developed by Motion Twin.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                Rs 1000</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../../assets/Wallpaper-1920-1080.jpg" alt="" />
        <div class="caption">
          <u>
            <h4 class="group inner list-group-item-heading">
              Tom Clancy </h4>
          </u>
          <p class="group inner list-group-item-text">
            Tom Clancy's is a branding used by video game company Ubisoft for video games featuring the works of American author Tom
            Clancy.
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                Rs 2000</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../../assets/68947168-games-wallpapers.jpg" alt="" />
        <div class="caption">
          <u>
            <h4 class="group inner list-group-item-heading">
              Assassins Creed</h4>
          </u>
          <p class="group inner list-group-item-text">
            Assassin's Creed is a franchise centered on an action-adventure video game series developed by Ubisoft. It depicts a centuries-old
            struggle pitting the Assassins, who fight for peace and free will, against the Templars, who believe peace comes
            through control of humanity. </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                Rs 1000</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../../assets/Download-brothers-a-tale-of-two-sons.jpg" alt="" />
        <div class="caption">
          <u>
            <h4 class="group inner list-group-item-heading">
              Brothers</h4>
          </u>
          <p class="group inner list-group-item-text">
            Brothers: A Tale of Two Sons is an adventure game developed by Starbreeze Studios and published by 505 Games for Xbox 360,
            Microsoft Windows, PlayStation 3, PlayStation 4, Xbox One, iOS, Android and Windows Phone.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                $21.000</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <p>Added Successfully to Cart</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<app-gamepage></app-gamepage>
